<div class="text-field">
  <%= form.label :email, class: 'block' %>
  <%= form.email_field :email %>
</div>

<div class="password-field">
  <%= form.label :password, class: 'block' %>
  <%= form.password_field :password %>
</div>
