<p style="color: green"><%= notice %></p>

<h1>Sneakers</h1>

<div id="sneakers">
  <% @sneakers.each do |sneaker| %>
    <%= render sneaker %>
    <p>
      <%= link_to "Show this sneaker", sneaker %>
    </p>
  <% end %>
</div>

<%= link_to "New sneaker", new_sneaker_path %>
